<a href="https://colab.research.google.com/github/Armando1701/UTEC_Phyton_Jorge/blob/main/Clase6_Estructuras_de_control_Repetitivas_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Introducción a Diccionarios

**¿Qué es un diccionario?**

Es una colección de datos en formato clave: valor.

Permite acceder a la información mediante claves, no por posición como las listas.

**¿Para qué sirve?**

Ideal para representar objetos del mundo real.

Muy útil en el sector financiero para almacenar datos de clientes, productos financieros, tasas, etc.

Ejemplo:

In [3]:
cliente = {
    "nombre": "Ana",
    "edad": 35,
    "ingreso": 4500,
    "morosidades": 0
}
print(cliente["nombre"])  # Acceder al ingreso del cliente

Ana

In [4]:
prueba = {
    "nombre": "Jorge",
    "apellido": "Cardenas",
    "edad": 33,
    "ingreso": 5800,
    "hijos": 0
}
print(prueba["apellido"])

Cardenas

In [5]:
prueba ["python_nivel"] = "Principiante"

In [6]:
prueba

{'nombre': 'Jorge',
 'apellido': 'Cardenas',
 'edad': 33,
 'ingreso': 5800,
 'hijos': 0,
 'python_nivel': 'Principiante'}

In [ ]:
prueba["estado civil"] = "Soltero"

In [ ]:
prueba

{'nombre': 'Jorge',
 'apellido': 'Cardenas',
 'edad': 33,
 'ingreso': 5800,
 'hijos': 0,
 'estado civil': 'Soltero'}

In [ ]:
new_prueba = {}
new_prueba["curso"] ="Python"
new_prueba["nivel"] = "Principiante"

In [ ]:
new_prueba

{'curso': 'Python', 'nivel': 'Principiante'}

In [9]:
cristal = {}
cristal["peru"] = "grande"
cristal ["libertadores"] = "pequeño"

In [10]:
cristal

{'peru': 'grande', 'libertadores': 'pequeño'}

In [11]:
nuevo_cliente = {}
nuevo_cliente["nombre"] = "Luis"
nuevo_cliente["ingreso"] = 3000

In [12]:
nuevo_cliente ["ingreso"] = 5000

In [13]:
nuevo_cliente

{'nombre': 'Luis', 'ingreso': 5000}

In [16]:
clientes = {
    "001": {"name": "Jorge", "salario": 3500},
    "002": {"name": "Zulema", "salario": 4800},
    "003": {"name": "Juan", "salario": 3500}
}

In [18]:
clientes

{'001': {'name': 'Jorge', 'salario': 3500},
 '002': {'name': 'Zulema', 'salario': 4800},
 '003': {'name': 'Juan', 'salario': 3500}}

In [ ]:
clientes["001"]["name"] = "Gianmarco"

In [ ]:
del clientes["001"]["salario"]

In [ ]:
clientes

{'001': {'name': 'Gianmarco', 'salario': 3500},
 '002': {'name': 'Zulema', 'salario': 4800},
 'name': 'Damian'}

In [ ]:
clientes["name"] = "Damian"

In [ ]:
clientes

{'001': {'name': 'Jorge', 'salario': 3500},
 '002': {'name': 'Zulema', 'salario': 4800},
 'name': 'Damian'}

In [ ]:
cliente

{'nombre': 'Ana', 'edad': 35, 'ingreso': 4500, 'morosidades': 0}

**Cómo acceder a valores:**

Usando la clave: diccionario["clave"]

**Añadir nuevo par clave-valor:**

In [ ]:
cliente["tipo_credito"] = "Hipotecario"

In [ ]:
cliente

{'nombre': 'Ana',
 'edad': 35,
 'ingreso': 4500,
 'morosidades': 0,
 'tipo_credito': 'Hipotecario'}

**Empezar con un diccionario vacío:**

In [ ]:
nuevo_cliente = {}

In [ ]:
nuevo_cliente = {}
nuevo_cliente["nombre"] = "Luis"
nuevo_cliente["ingreso"] = 3000

**Modificar valores:**

In [ ]:
cliente["ingreso"] = 5000

**Eliminar pares clave-valor:**

In [ ]:
clientes = {
    "001": {"nombre": "Ana", "ingreso": 4000},
    "002": {"nombre": "Luis", "ingreso": 3000}
}

In [ ]:
animales = {
  "001": {"nombre": "Elefante", "patas": 4},
  "002": {"nombre": "Buitre", "patas": 2}.
  "003": {"nombre": "Cocodrilo", "patas": 4}}

In [ ]:
dicFamiliar1={}
dicFamiliar1["nombre"]="Renato"
dicFamiliar1["edad"]=33
dicFamiliar1["genero"]="M"
dicFamiliar2={}
dicFamiliar2["nombre"]="Malu"
dicFamiliar2["edad"]=35
dicFamiliar2["genero"]="F"
dicFamiliares={
    "1":dicFamiliar1,
    "2":dicFamiliar2
}
print(dicFamiliares)

{'1': {'nombre': 'Renato', 'edad': 33, 'genero': 'M'}, '2': {'nombre': 'Malu', 'edad': 35, 'genero': 'F'}}

In [ ]:
dicFamiliares['1']['edad']= 30

In [21]:
clientes

{'001': {'name': 'Jorge', 'salario': 3500},
 '002': {'name': 'Zulema', 'salario': 4800}}

In [ ]:
dicFamiliares['2']['ingreso']= 2400
dicFamiliares

{'1': {'nombre': 'Renato', 'edad': 30, 'genero': 'M'},
 '2': {'nombre': 'Malu', 'edad': 35, 'genero': 'F', 'ingreso': 2400}}

In [ ]:
dicFamiliares

{'2': {'nombre': 'Malu', 'edad': 35, 'genero': 'F', 'ingreso': 2400}}

In [ ]:
del dicFamiliares['1']

In [28]:
clientes

{'001': {'name': 'Jorge', 'salario': 3500},
 '002': {'name': 'Zulema', 'salario': 4800}}

In [29]:
clientes ["001"]

{'name': 'Jorge', 'salario': 3500}

**Ejercicio 1:**

Crea un diccionario para un producto financiero con claves como nombre, tasa de interés y tipo. Luego accede a la tasa de interés y modifícala.

In [26]:
producto_financiero = {
    "nombre": "Tarjeta",
    "tasa_interes": 0.05,
    "tipo": "Premium"
}
print(producto_financiero)

producto_financiero["tipo"] = "Classic"
print(producto_financiero)

{'nombre': 'Tarjeta', 'tasa_interes': 0.05, 'tipo': 'Premium'}
{'nombre': 'Tarjeta', 'tasa_interes': 0.05, 'tipo': 'Classic'}

In [24]:
producto_financiero["tasa_interes"] = 0.08

In [25]:
producto_financiero

{'nombre': 'Tarjeta', 'tasa_interes': 0.08, 'tipo': 'Premium'}

In [ ]:
producto_financiero["tasa_interes"] = 0.07

**Ejercicio 2:**

Crea un diccionario de 3 clientes con su nombre e ingresos. Agrega un nuevo cliente. Luego, elimina uno de los existentes.

In [31]:
clientes_dummy = {
    "001": {"nombre": "Ana", "apellido": "Garcia"},
    "002": {"nombre": "Oliver", "apellido": "Gea"},
    "003": {"nombre": "Sergio", "apellido": "Llorente"}
}
print(clientes_dummy)
clientes_dummy["004"] = {"nombre": "Hilel", "apellido": "Calderon"}
print(clientes_dummy)
del clientes_dummy["002"]
print(clientes_dummy)

{'001': {'nombre': 'Ana', 'apellido': 'Garcia'}, '002': {'nombre': 'Oliver', 'apellido': 'Gea'}, '003': {'nombre': 'Sergio', 'apellido': 'Llorente'}}
{'001': {'nombre': 'Ana', 'apellido': 'Garcia'}, '002': {'nombre': 'Oliver', 'apellido': 'Gea'}, '003': {'nombre': 'Sergio', 'apellido': 'Llorente'}, '004': {'nombre': 'Hilel', 'apellido': 'Calderon'}}
{'001': {'nombre': 'Ana', 'apellido': 'Garcia'}, '003': {'nombre': 'Sergio', 'apellido': 'Llorente'}, '004': {'nombre': 'Hilel', 'apellido': 'Calderon'}}

In [ ]:
clientes_dummy

{'001': {'nombre': 'Ana', 'apellido': 'Garcia'},
 '003': {'nombre': 'Sergio', 'apellido': 'Llorente'}}

In [ ]:
del clientes_dummy["002"]

In [ ]:
clientes_dummy = {
    "004": {"nombre": "Damian", "apellido": "Santa Maria"}
}

In [ ]:
clientes_dummy

{'004': {'nombre': 'Damian', 'apellido': 'Santa Maria'}}

In [ ]:
del clientes_dummy["003"]

# 2. For en Python

**¿Qué es for?**

Una estructura de control repetitiva.

Se usa para recorrer elementos de una lista, string o diccionario.

**¿Para qué sirve?**

Automatizar procesos repetitivos, como revisar múltiples clientes o productos financieros.

**Sintaxis básica:**

In [40]:
lista_clientes = ["Ana", "Luis", "Sofía"]
lista_clientes

['Ana', 'Luis', 'Sofía']

In [42]:
lista_clientes[1]

'Luis'

In [39]:
for awr in lista_clientes:
 print(awr)

Ana
Luis
Sofía

In [ ]:
y

'Sofía'

In [ ]:
lista_clientes[0]

'Ana'

**¿Por qué es repetitiva?**

Porque ejecuta el mismo bloque de código por cada elemento en la secuencia.

In [44]:
ingresos = [1000, 2000, 3000, 2000, 1500, 2300, 2345]
for x in ingresos:
    print("Ingreso anual:", x* 12)

Ingreso anual: 12000
Ingreso anual: 24000
Ingreso anual: 36000
Ingreso anual: 24000
Ingreso anual: 18000
Ingreso anual: 27600
Ingreso anual: 28140

Usar la estructura FOR para calcular el ingreso anual (ingreso *12) sin mostrar el cálculo, finalmente mostrar la lista completa

In [47]:
ingresos = [1000, 2000, 3000, 2000, 1500, 2300, 2345]
for x in ingresos:
  ingreso_anual = x*12
ingreso_anual

28140

In [49]:
print(ingreso_anual)

28140

In [ ]:
for ingreso in ingresos:
    ingreso_anual = ingreso * 12

ingresos

[1000, 2000, 3000, 2000, 1500, 2300, 2345]

In [ ]:
for ingreso in ingresos:
    ingreso * 12
    print(ingreso)

1000
2000
3000
2000
1500
2300
2345

In [ ]:
for ingreso in ingresos:
    ingresos[0] = ingreso * 12

ingresos

[28140, 2000, 3000, 2000, 1500, 2300, 2345]

In [ ]:
ingresos[0] = ingreso * 12

In [ ]:
ingresos

[28140, 2000, 3000, 2000, 1500, 2300, 2345]

In [ ]:
ingreso_anual

28140

In [ ]:
ingresos*12

[1000,
 2000,
 3000,
 2000,
 1500,
 2300,
 2345,
 1000,
 2000,
 3000,
 2000,
 1500,
 2300,
 2345,
 1000,
 2000,
 3000,
 2000,
 1500,
 2300,
 2345,
 1000,
 2000,
 3000,
 2000,
 1500,
 2300,
 2345,
 1000,
 2000,
 3000,
 2000,
 1500,
 2300,
 2345,
 1000,
 2000,
 3000,
 2000,
 1500,
 2300,
 2345,
 1000,
 2000,
 3000,
 2000,
 1500,
 2300,
 2345,
 1000,
 2000,
 3000,
 2000,
 1500,
 2300,
 2345,
 1000,
 2000,
 3000,
 2000,
 1500,
 2300,
 2345,
 1000,
 2000,
 3000,
 2000,
 1500,
 2300,
 2345,
 1000,
 2000,
 3000,
 2000,
 1500,
 2300,
 2345,
 1000,
 2000,
 3000,
 2000,
 1500,
 2300,
 2345]

Ejemplo 2: Recorrer un diccionario de clientes

In [ ]:
for id_cliente in clientes:
    print("ID:", id_cliente, "Ingreso:", clientes[id_cliente]["ingreso"])

Ejemplo 3: Contar cuántos clientes tienen ingreso > 3000

In [ ]:
contador = 0
for cliente in clientes.values():
    if cliente["ingreso"] > 3000:
        contador += 1
print("Clientes con alto ingreso:", contador)

Ejemplo 4: Crear una lista con tasas ajustadas

In [ ]:
tasas = [0.05, 0.07, 0.08]
tasas_ajustadas = []
for tasa in tasas:
    tasas_ajustadas.append(tasa + 0.01)
print(tasas_ajustadas)

Ejemplo 5: Reporte de evaluación

In [ ]:
clientes = ["Ana", "Luis", "Sofía"]
for nombre in clientes:
    print(f"Evaluación enviada a {nombre}")