<a href="https://colab.research.google.com/github/Armando1701/UTEC_Phyton_Jorge/blob/main/Copia_de_Laboratorio_de_ejercicios_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

Ejercicio 1

Crear una lista con los nombres de 5 bancos.

In [1]:
Lista_01 = ["Interbank", "BBVA", "BCP", "Scotiabank", "Mibanco"]

In [2]:
Lista_01

['Interbank', 'BBVA', 'BCP', 'Scotiabank', 'Mibanco']

Ejercicio 2

Acceder al tercer banco de la lista.

In [3]:
Lista_01 [2]

'BCP'

Ejercicio 3

Agregar un nuevo banco a la lista.

In [4]:
Lista_01.append("Banco Pichincha")

In [5]:
Lista_01

['Interbank', 'BBVA', 'BCP', 'Scotiabank', 'Mibanco', 'Banco Pichincha']

Ejercicio 4

Eliminar el segundo banco.

In [8]:
Lista_01.pop(1)

'BBVA'

In [9]:
Lista_01

['Interbank', 'BCP', 'Scotiabank', 'Mibanco', 'Banco Pichincha']

Ejercicio 5

Ordenar alfabéticamente los bancos.

In [10]:
Lista_01.sort()

In [11]:
Lista_01

['BCP', 'Banco Pichincha', 'Interbank', 'Mibanco', 'Scotiabank']

# Condicionales IF, ELIF, ELSE

Ejercicio 1

Verificar si un cliente tiene ingreso > 3000.

In [17]:
cliente_ingreso = int(input("Introductir su ingreso mensual: "))
if cliente_ingreso < 3000:
  print("No tiene ingreso suficiente")
else:
  print("Tiene ingreso suficiente")

Introductir su ingreso mensual: 2500
No tiene ingreso suficiente

Ejercicio 2

Evaluar edad para otorgar tarjeta de crédito.

In [20]:
edad = int(input("Introducir su edad: "))
ingreso_2 = int(input("Introducir su ingreso mensual: "))
if edad >= 18 and ingreso_2 >= 3000:
  print("Cliente califica a tarjeta de crédito")
else:
  print("Cliente no califica para tarjeta de crédito")

Introducir su edad: 33
Introducir su ingreso mensual: 4800
Cliente califica a tarjeta de crédito

Ejercicio 3

Evaluar un score de crédito.

In [30]:
score_cliente = ""
score_cliente = int(input("Introducir su score de crédito: "))
if score_cliente >= 800:
  score = "Excelente"
elif score_cliente >= 500:
  score = "Bueno"
else:
  score = "Malo"
print(f"El score de su crédito es: {score}")

Introducir su score de crédito: 5
El score de su crédito es: Malo

Ejercicio 4

Verificar si una cuenta tiene saldo negativo.

In [32]:
saldo_cuente =""
saldo_cuente = int(input("Introducir su saldo de cuenta: "))
if saldo_cuente < 0:
  print("Cuenta tiene saldo negativo")
else:
  print("Cuenta no tiene saldo negativo")

Introducir su saldo de cuenta: -120
Cuenta tiene saldo negativo

Ejercicio 5

Comparar dos tasas de interés.

Ejercicio 6

Evaluar si un cliente tiene más de 3 productos financieros.

Ejercicio 7

Determinar si un monto depositado supera los 10,000.

# **Diccionarios**

Ejercicio 1

Crear un diccionario con datos de un cliente.

In [34]:
cliente = {"nombre": "Jorge", "apellido" : "Cardenas"}

In [37]:
cliente["apellido"]

'Cardenas'

Ejercicio 2

Acceder al saldo del cliente.

In [39]:
cliente = {"nombre": "Jorge", "apellido" : "Cardenas", "saldo" : 5000}

In [40]:
cliente["saldo"]

5000

Ejercicio 3

Modificar el saldo.

In [44]:
cliente["saldo"]
print(f"El saldo actual es: {cliente['saldo']}")
cliente["saldo"] = 80000
print(f"El nuevo saldo del cliente es {cliente['saldo']}")

El saldo actual es: 5000
El nuevo saldo del cliente es 80000

Ejercicio 4

Agregar una nueva llave 'tarjeta_credito'.

In [45]:
cliente["tarjeta_credito"]= "BBVA"

In [46]:
cliente

{'nombre': 'Jorge',
 'apellido': 'Cardenas',
 'saldo': 80000,
 'tarjeta_credito': 'BBVA'}

Ejercicio 5

Eliminar el nombre del cliente.

In [47]:
cliente.pop("nombre")

'Jorge'

In [48]:
cliente

{'apellido': 'Cardenas', 'saldo': 80000, 'tarjeta_credito': 'BBVA'}

# FOR

Ejercicio 1

Recorrer una lista de tasas de interés.

In [55]:
tasa_interes = [0.1, 0.2, 0.3]
for tasa in tasa_interes:
  print(f"Tasa es {tasa}%")

Tasa es 0.1%
Tasa es 0.2%
Tasa es 0.3%

Ejercicio 2

Sumar todos los saldos de una lista.

In [62]:
saldo_final = 0
saldos = [1000, 2000, 3000]
for saldo in saldos:
  saldo_final += saldo
print("Saldo final", saldo_final)

Saldo final 6000

Ejercicio 3

Recorrer una lista de precios de productos ecommerce y aplicar descuento de 10%.

In [68]:
lista_price_productos = [20, 50 , 80]
for precio in lista_price_productos:
  nuevo_precio = precio * 0.9
  print(f"Los nuevos precios son {nuevo_precio}")

Los nuevos precios son 18.0
Los nuevos precios son 45.0
Los nuevos precios son 72.0

Ejercicio 4

Contar cuántos productos tienen un precio mayor a 100.

In [70]:
productos = [90, 110, 150, 80, 200]
contador = 0
for producto in productos:
  if producto > 100:
    contador += 1
print(f"Hay {contador} productos con precio mayor a 100")

Hay 3 productos con precio mayor a 100

Ejercicio 5

Recorrer campañas de marketing y mostrar su nombre.

In [71]:
campañas = ["Campaña 1", "Campaña 2", "Campaña 3"]
for campaña in campañas:
  print(f"La campaña es {campaña}")

La campaña es Campaña 1
La campaña es Campaña 2
La campaña es Campaña 3

Ejercicio 6

Recorrer un diccionario de clientes con saldo y mostrar solo los que tengan saldo > 2000.

Ejercicio 7

Recorrer una lista de emails de clientes y contar los que terminan en "@gmail.com".

# Mini Proyecto

"Evaluador de Clientes Hipotecarios"

Contexto:
Un banco quiere evaluar a sus clientes para ofrecerles un nuevo crédito hipotecario.
Cada cliente tiene datos como: nombre, ingreso mensual, deudas actuales y número de productos contratados.

Objetivo:
1. Crear la base de datos de clientes usando un diccionario.
2. Usar for para recorrer todos los clientes.
3. Aplicar condicionales para clasificar:
   - "Elegible" si su ingreso anual es mayor a 36,000 soles, sus deudas son menores a 15,000 soles y tiene al menos 2 productos contratados.
   - "Requiere Evaluación" si cumple solo algunas condiciones.
   - "No Elegible" si no cumple ninguna condición.
4. Mostrar el resultado bien formateado por cliente.

Instrucciones

1. Crea un diccionario llamado clientes con al menos 5 clientes.
2. Cada cliente tendrá:
   - Nombre (str)
   - Ingreso mensual (float)
   - Deudas (float)
   - Número de productos contratados (int)
3. Calcula el ingreso anual (ingreso mensual × 12).
4. Usa un for para recorrer cada cliente.
5. Usa if, elif, else para clasificarlo en una de las tres categorías.
6. Muestra en pantalla: Cliente: {nombre} - Resultado: {clasificación}

# 🔥 Nivel extra:

1. Ingresa manualmente los clientes (input).
2. Calcula la diferencia absoluta (abs) entre ingreso anual y deudas.
3. Redondea (round) el ingreso anual al número entero más cercano.